<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
    <title>Register page</title>
</head>
<body>
    {{>navbar}}
    <h1>Please register form below</h1>
    <span style="color:red;">{{errorMsg}}</span>
    {{>registerform}}

{{>scriptlink}}
</body>
</html>