<form action="/register" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="" >
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="">
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone"value="">
  </div>
  <div> Gender
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="sex" id="male" value="male" >
  <label class="form-check-label" for="male">Male</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="sex" id="female" value="female">
  <label class="form-check-label" for="female">Female</label>
</div>
</div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" value="">
  </div>
  <span style="color:red;">{{errorMessage}}</span>
  <div class="mb-3">
    <label for="repassword" class="form-label">Re-Password</label>
    <input type="repassword" class="form-control" id="repassword" name="repassword" value="">
  </div>

  <input type="submit" class="btn btn-primary" value="submit" />
</form>